.modalWindow {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.473);
  justify-content: center;
}

.main {
  margin-top: 10rem;
  background-color: #6ba5d9;
  font-size: 1.7rem;
  height: 10rem;
  border-radius: 15px;
  padding: 3rem 2rem 2rem;
  text-align: center;
}
.main p {
  text-align: center;
}

.main span {
  text-decoration: underline;
  cursor: pointer;
}

.main span:hover {
  color: rgb(3, 3, 212);
}

.back {
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #004258;
  color: white;
  cursor: pointer;
}
.back:hover {
  background-color: blue;
}
