.loginPage {
  background-color: #f0f2f5;
  height: 90vh;
  padding-top: 10vh;
}

.main {
  border-radius: 10px;
  display: flex;
  background-color: #fff;
  width: fit-content;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 2px 3px 5px rgb(53, 52, 52);
}

.line {
  content: "";
  display: inline-block;
  width: 1px;
  height: inherit;
  margin: 0 35px;
  background-color: #000;
}
