.mainPage {
  margin-top: 8rem;
  background-color: rgb(248, 244, 244);
  min-height: 80vh;
}
.content {
  padding: 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productItem {
  background-color: #004258;
  height: 20rem;
  margin: 0.5rem;
  flex-basis: 14rem;
  flex-grow: 1;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 2px 3px 5px rgb(53, 52, 52);
}

.empty {
  padding: 1rem;
  margin: 0.5rem;
  flex-basis: 14rem;
  flex-grow: 1;
}

.nothing {
  font-size: 1.5rem;
  font-weight: bold;
  color: #004258;
  width: 100%;
  text-align: center;
}
